<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />  
    <title>My Awesome App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
  </head>
  <body>
    <h1>Plant Details</h1>
    <h2> {{title}} </h2>

    <h3>{{plantData.name}}</h3>
    <p>Latin: {{plantData.scientific_name}}</p>
    <p>state: {{plantData.health}}</p>

  </body>
  <script>
    console.table({{plantData}});
  </script>
</html>


{{!-- water the plant pop-up --}}

{{!-- read the values from adafruit io --}}
