<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />  
    <title>Shop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/shop.css" />

  </head>
  <body>
    
    <h1>Shop</h1>
    <p>your money: {{user.money}} sproots</p>

    <div id="shop-container" class="flex flex-wrap gap-1">
        {{#each shop}}
            <div class="shop-item">
                <h3>{{this.name}}</h3>
                <img src="{{this.item_url}}" alt="{{this.item}}" width="100" />
                <p>Price: {{this.price}} sproots</p>

                {{#if (gte ../user.money this.price)}}          
                <button popovertarget="my-popover-{{this.id}}">Buy</button>
                <div popover id="my-popover-{{this.id}}">
                    <p>Do you want to buy {{this.item}}?</p>
                    <form action="/shop/{{this.id}}" method="POST">
                        <button type="submit">Yes, buy for {{this.price}} sprouty</button>
                    </form>
                </div>
                {{else}}
                <button disabled class="disabled">Buy</button>
                {{/if}}
            </div>
        {{/each}}
    </div>

    {{> menu}}


    <script>
        // Example of using the json helper to log shop data
        //const shopData = {{{json shop}}};
        //console.log('Shop Data:', shopData);
    </script>

  </body>
</html>